@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter&display=swap');

.menu{
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    
   
}
.logo {
    margin: flex;
    text-align: center;
    margin-right: 10%;
    
    
    
    
    }
.logo img{
    
	width: 240px;
    
}


.menu li{
   
    display: inline-block;
    position:relative;
    font-family: 'Bungee';
    font-style: normal;
    font-size: 28px;
    padding: 2px;
    color:#201E1F;

  

}
.menu a{
    display: block;
    list-style: none;
    text-decoration: none;
    box-shadow: none;
 
}
.menu li a:hover{
    font-size: 29px;
    color: #234C5C;

}
.menu nav{
    display:inline-block;
    position:relative;
    background-color: #F2C335;
    text-align: center;
    margin-left: 12%;
    margin-top: 0;
    margin-bottom: 0%;
    width: 75%;

  
}
a:link {
	
	color: #201E1F
	}
		
a:visited {
	color: #201E1F
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 40%;
    
    }
.container {
    position: relative;
    padding: 15px;
    
    margin: 0 auto;
    }
    





 /* main*/
 main {
	font-family: 'Inter';

}

h2 {
font-family: 'Bungee';
font-size: 30px;
text-align:justify;

font-style: bold;




}
p {
	font-family: 'Inter';
	font-size: 21px;
	
	text-align: justify;

	margin: 10px 7px ;

	
}


.conteudo{
    display:flex;
    font-family: 'Inter';
    margin-left: 16%;
    font-size: 21px;
	
	text-align: center;

}
.imagem img{
    display: flex;
    width: 210px;
    margin-right: 222px;
    margin-top: 10%;
}
.conteudodois{
    display:flex;
    font-family: 'Inter';
    margin-right: 16%;
    font-size: 21px;
	padding: 10px;
	text-align: center;



}

.imagemdois img{
    display: flex;
    width: 210px;
    margin-left: 222px;
    margin-top: 10%;
}



footer {
	font-family: 'Inter';
	text-align: center;
	color: white;
	padding: 30px;
	background-color:#35748C;
}